*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background: url(Images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 40%;
    display: flex;
    margin: auto;
    padding: 10px 15px;
    align-items:center;
    justify-content:flex-end;
}
ul{
    margin-top: 4%;
}

ul li {
    list-style: none;
    display: inline-block;
    padding:10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(11, 120, 120);
    margin-top: 3%;
}
 h1{
    margin-top: 3%;
    color:rgb(13, 100, 100);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
ul li a:hover{
    color:rgb(213, 108, 34);
}
.info{
    margin-left: 5%;
    margin-top: 3%;
}
.info h1{
    font-size: 150%;
    color: rgb(11, 6, 2);
}
h4{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color: rgb(213, 108, 34);
}
.info a{
    text-decoration: none;
    color: rgb(213, 108, 34);
    background:rgb(11, 6, 2);
    margin: 26px 0px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: .7s ease;
}
.info a:hover{
    background: rgb(21, 149, 149);
}
.image{
    width: 30%;
    height:45%;
    position: absolute;
    right: 60px;
    bottom:0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 46%;
    transform: translate(-50%);
    bottom: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 
}
.image:hover .girl{
    left:55%;
}
.icons a{
    text-decoration: none;
    color: black;
}
.icons{
    margin-left: 5%;
    color: black;
    margin-right: 65px;
    font-size: 25px;
    transition: .4 ease;
}

.icons ion-icon:hover{
    background: rgb(21, 149, 149);
}